
.archive-title{
    position: absolute;
    user-select: none
}
.archive-description-hovered{
    display: inline; 
    position: absolute;
    padding: 15px;
    border: 1px solid black;
    background-color: #FBFAF4;
    z-index: 10;
    user-select: none
}

.archive-wrapper-inner{
    margin: 70px 5%;
    width: 100%;
    height: 100vh;
}

.archive-description-normal{
    display: none;
    
}



.archive-image{
    position: absolute;
    max-width: 300px;
    user-select: none
}

