

.big-title{
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 12vw;
  font-weight: 100;
}

.flower{
  width: 100px;
  position: absolute;
  top: 50px;
}

