.outer-wrapper {
  position: relative; /* Establish positioning context for absolute children */
  overflow: hidden;   /* Hide any overflow content */
}

.big-title {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
  position: relative;
  overflow-y: hidden;
}

h1 {
  font-size: 12vw;
  font-weight: 100;
}


@media(min-width: 780px){
  h1{
    font-size: 7vw;
  }
}