.outer-wrapper {
  position: relative; /* Establish positioning context for absolute children */
  overflow: hidden;   /* Hide any overflow content */
}

.big-title {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-y: hidden;
}

h1 {
  font-size: 12vw;
  font-weight: 100;
}

.deco-images {
  position: absolute; /* Ensure it's positioned relative to the outer-wrapper */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; /* Hide overflow for the images */
}

.flower {
  width: 100px; /* Adjust size if needed */
  position: absolute;
  z-index: -1; /* Ensure flowers are behind other content */
}

.gradient {
  width: 100%; /* Ensure full width for gradients */
  position: absolute;
  z-index: -2; /* Ensure gradients are behind flowers */
}
