@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FBFAF4;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Gallery Modern';
  src: url('../../public/Fonts/GalleryModern.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

h1, h2 {
  font-family: 'Gallery Modern', sans-serif;
  font-weight: 100;
  z-index: 1;
}

a,p,tr,th{
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  margin: 0;
}



.outer-wrapper{
  margin: 0% 5%;
}

@media(min-width: 1024px){
  .outer-wrapper{
    margin: 0% 7%;
  }
}

