.table-container {
    width: 100%;
  }
  
  .table {
    width: 100%;
  }
  
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
  }

  tr:hover{
    cursor: pointer;
  }

  .table-title{
    margin: 0;
  }
  .work-item {
    width: 100%;
    padding-top: 20px;
  }
  
  .border-bottom {
    width: 100%;
    border-bottom: 0.5px solid black;
    padding-top: 12px;
    padding-bottom: 12px;
    min-height: 5px; /* Ensure this div doesn't collapse */
  }
  
/*   .border-bottom.top{
    margin-bottom: 12px;
  } */
  .work-img {
    width: 100% !important;
    height: auto !important;
    padding-top: 12px;
    padding-bottom: 20px;
  }
  
  .work-item-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    margin-top: 12px;
  }

  .work-item-info h2{
    margin: 0;
  }
  
  .work-img-hover {
    display: block !important;
    position: relative; /* Reset position to relative or static */
    left: auto;
    top: auto;
    z-index: auto;
    width: 100%; /* Make the image responsive */
  }
  
  @media (min-width: 780px) {


    .work-img {
      display: none;
      width: 20%;
    }

    .work-img-hover {
      display: block;
      pointer-events: none; /* Prevent image from blocking other hover effects */
      width: 300px; /* Adjust size as needed */
      height: auto;
      transform: translate(-50%, -50%);
      transition: opacity 0.3s ease;
    }
    
    .work-item-info {
      align-items: center;
      padding-bottom: 12px;
    }

    .work-item-info h2{
      margin: 0;
    }

    .border-bottom{
        padding: 0 0;

    }

    .border-bottom.top{
        margin-bottom: 0px;
      }

    .table-title{
      margin-bottom: 10px;
    }
  }
  