:root {
    --card_width: 250px;
    --row_increment: 10px;
    --card_border_radius: 16px;
    --card_small: 26;
    --card_med: 33;
    --card_large: 45;
  }

.archive-title{
    position: relative;
    user-select: none;
    margin-top:60px;
}

.archive-image{
    position: absolute;
    max-width: 300px;
    user-select: none
}

.archive-img-container{
    display: flex;
    flex-wrap: wrap;
}

.archive-img-item-mobile-inner{
    padding: 0;
    margin: 15px 10px;
    grid-row-end: 33;
}
/* .archive-img-item-mobile{
    padding: 0;
    margin: 15px 10px;
    width: var(--card_width);
} */

.archive-img-mobile {
    width: 100%; /* Make the image take up the full width of its container */
    height: auto; /* Maintain the aspect ratio of the image */
    object-fit: cover; /* Ensures the image covers the container without distortion */
}

.archive-img-item-mobile{
    width: 109%;
}
@media(min-width: 768px) {
    .archive-wrapper-inner{
        height: 100%;
        overflow: hidden;
     }
    .archive-title{
        position: absolute;
        user-select: none
    }

/*     .archive{
        overflow: hidden;
    } */

    .archive-title{
        position: relative;
        user-select: none;
        margin-top:40px;
    }

    .archive-description-hovered{
        display: inline; 
        position: absolute;
        padding: 15px;
        border: 1px solid black;
        background-color: #FBFAF4;
        z-index: 10;
        user-select: none;
        max-width: var(--card_width);
    }
    
    .archive-wrapper-inner{
        margin: 70px 0 0 0;
        width: 100%;
        height: 100vh;
    }
    
    .archive-description-normal{
        display: none;
        
    }

/*     .archive-img-container{
        width: 100%;
        height: 100%;
        border: 1px solid black;
    } */

    
}