.footer-wrapper{
   width: 100%;
   height: auto; 
   background-color: #FFE3E1;
   margin-top: 50px;

}

.footer-inner-wrapper{
    padding: 5% 5%;
}

.footer-wrapper-inner{
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}



.footer-wrapper-inner :last-child {
    display: flex;
    gap: 20px;
}

.footer-item{
    margin-bottom: 10px;
}

.footer-contact div{
    margin-top: 10px;
}
.footer-wrapper-inner a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 15px;
}

.footer-wrapper h3{
    margin: 0;
}

.legal a{
    padding: 0!important;
    margin-right: 10px;
}

.legal a:hover{
    border-bottom: 1px solid black;
}

.copywright{
    margin-top: 20px;
}