.outer-wrapper {
  position: relative; /* Establish positioning context for absolute children */
  overflow: hidden;   /* Hide any overflow content */
}

.big-title {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
  position: relative;
  overflow-y: hidden;
}

h1 {
  font-size: 12vw;
  font-weight: 100;
}

.down-arrow{
  width: 20px;
  position: absolute;
  top: calc(100vh - 60px);
  left: 50%;
}

@media(min-width: 780px){
  h1{
    font-size: 7vw;
/*     position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,); */
  }

  .effect-images{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
  }
  .effect-images-item{
    position: absolute;
    width: 150px;
    height: auto;
    overflow: hidden;
  }

  .effect-images-item img{
    width: 100%;
    height: 100%;
  }
}