.nav-elements-wrapper{
    width: 100%;
    position: fixed;
    display: flex;
    align-self: center;
    z-index: 15;
}
.nav-elements {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
    background-color: #FBFAF4;
    top: -100%; /* Start off-screen at the top */
    transition: top 0.3s ease; /* Transition effect */
    z-index: 9; /* Ensure it's above other elements */
  }

  .logo-wrapper {
    padding-top: 3px;
    position: fixed;
    top: 6px;
    z-index: 20; /* Ensure logo is on top */
  }
.logo{
    width: 50px;
}

.logo-link {
    z-index: 20; /* Make sure the logo link is above other elements */
    position: fixed;
    cursor: pointer;
    margin-left: 5%;
  }
.nav-elements a{
    text-decoration: none;
    color: black;
}
.nav-elements p {
    border-style: solid;
    background: none;
    border-width: 20px; /* Set the width to the same as the hover state */
    border-color: transparent; /* Make the initial border transparent */
    transition: border 0.3s ease; /* Smooth transition for the border */
}

.nav-wrapper p:hover {
    border-image: url(border.png) 30 fill; /* Apply the border image on hover */
    border-image-slice: 30; /* Ensure proper slicing */
    border-image-width: 25px; /* Match the initial border width */
    border-color: none; /* Remove the transparent border */
}

.toggle-button {
    position: fixed;
    top: 1.00rem;
    right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    z-index: 20; /* Increase z-index to ensure it's on top */
  }


.toggle-button .bar{
    display: block;
    z-index: 12;
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.toggle-button.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 7.5px);
  }
  
  .toggle-button.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .toggle-button.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -7.5px);
  }

  .nav-elements.active {
    top: 0; /* Slide into view from the top */
  }

@media(min-width: 480px){
/*     .toggle-button{
        display: none;
    } */

}

@media(min-width: 768px){

    .nav-wrapper{
        padding-right: 20px;
    }
    .toggle-button{
        display: none;
    }

    .nav-elements{
        position: fixed;
        flex-direction: row;
        justify-content: end;
        top: 0;
        right: 0;
        background-color: transparent;
        padding-top: 10px;
        margin-right: 20px;
    }

    .nav-elements.active{
        top: 0;
    }

    .logo-wrapper {
        padding-top: 7px;
        position: fixed;
        top: 6px;
        z-index: 20; /* Ensure logo is on top */
      }

    .logo{
        width: 54px;
    }
}